<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：给哪个接口配置的映射，写接口的全限定类名-->
<mapper namespace="cn.guosgbin.mybatis.example.mapper.UserMapper">

    <cache/>

    <!--select标签：表示要执行查询语句； id：给接口里哪个方法配置的，写方法名；resultType：结果集封装类型-->
    <select id="list" resultType="cn.guosgbin.mybatis.example.entity.User">
        select * from tb_user
    </select>

    <select id="selectById" resultType="cn.guosgbin.mybatis.example.entity.User"> <!--flushCache="true"-->
        <!-- 开启二级缓存 -->
        SELECT * FROM tb_user WHERE id = #{id}
    </select>

    <select id="selectByCondition01" parameterType="cn.guosgbin.mybatis.example.entity.User"
            resultType="cn.guosgbin.mybatis.example.entity.User">
        SELECT * FROM tb_user
        <where>
            <if test="name != null and name !=''">
                AND name = #{name}
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
        </where>
    </select>

    <select id="selectByCondition02" parameterType="String" resultType="cn.guosgbin.mybatis.example.entity.User">
        SELECT * FROM tb_user WHERE name = '${name}'
    </select>

    <update id="updateNameById">
        UPDATE tb_user SET name = #{name} WHERE id = #{id}
    </update>


    <select id="selectUserByIds" parameterType="String" resultType="cn.guosgbin.mybatis.example.entity.User">
        SELECT * FROM tb_user WHERE
        <if test="list != null and list.size > 0">
            <foreach collection="list" open="id in (" separator="," close=")" item="id">
                #{id}
            </foreach>
        </if>
    </select>

</mapper>